<!--navbar-->
<app-navbar></app-navbar>
<!--register successfull message-->
<div *ngIf="registerStatus"class="container-fluid d-flex justify-content-center mt-5 text-center text-danger">

  <h3 class="animate__animated animate__slideInDown mt-5">we are processing your request..<br>pls wait</h3>
</div>
<!--register design-->
<div *ngIf="!registerStatus"class="containe-fluid  div1 mt-5">
  <br>
  <br>
    
        <!--register-->
        <div class="row mt-5  d-flex justify-content-evenly">
            <div class="col-lg-5 mt-5 text-center">
                <img src="https://media.istockphoto.com/id/497347644/photo/hand-pressing-register-now.jpg?b=1&s=170667a&w=0&k=20&c=ZV58v5dckr5lEbp-D2ke7PxpkMiR-G6x_MvgBTm-2Hs=" alt="img">
                <br>
            </div>
            <div class="col-lg-7 mt-1">
              <form [formGroup]="registerForm" class="border p-5 mt-5 me-3 mb-5">
                <div class="form-floating mb-3">
                  <!--username-->
                  <input name="username" formControlName="username" type="text" class="form-control" id="floatingInput"
                    placeholder="username">
                  <label for="floatingInput">User name</label>
                </div>
                <!--username validation-->
                <div class="text-danger mb-2"
                  *ngIf="this.registerForm.get('username')?.errors && this.registerForm.get('username')?.touched">invalid username
                </div>
              
                <!--regnumber-->
                <div class="form-floating mb-3">
                  <input name="regno" formControlName="regno" type="text" class="form-control" id="floatingInput"
                    placeholder="registernumber">
                  <label for="floatingInput">Regno</label>
                </div>
                <!--regno validation-->
                <div class="text-danger mb-2"
                  *ngIf="this.registerForm.get('regno')?.errors && this.registerForm.get('regno')?.touched">invalid batchno</div>
          
                  
                      <!--password-->
                <div class="form-floating">
                  <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <!--password validation-->
                <div class="text-danger mb-2"
                  *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched">invalid password
                </div>
                <!--confirm password-->
                <div class="form-floating mt-2">
                  <input name="cpassword" formControlName="cpassword" type="password" class="form-control" id="floatingPassword"
                    placeholder=" confirmPassword">
                  <label for="floatingPassword">Confirm Password</label>
                </div>
                <!--confirmPassword validation-->
                <div class="text-danger mb-2"
                  *ngIf="this.registerForm.value.pswd!=this.registerForm.value.cpassword&& this.registerForm.get('cpassword')?.touched">
                  password doesnot match</div>
          
                <div class="mb-3 mt-3 d-flex justify-content-evenly">
                  <button (click)="register()" class=" btn btn-primary ">register</button>
                  <span class="ms-5 text-light">Alredy user? click here to  <a routerLink="/login">login</a></span>
                  <button routerLink="" class="btn btn-warning mt-2"><i class="fa-solid fa-square-left"></i>Back</button>

                </div>
              </form>
            </div>

        </div>

</div>




 